:root{
    --header-photo: #73738c;
    --section-color: #d2e2c5;
}
*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--header-photo);
    padding: 5px 0px 5px 0px;
    width: 100%;
    border-bottom: black solid 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex: 2 6; */
    
}

.header h1 {
    font-family: cursive;
    font-size: 80px;
    color: white;
    word-spacing: 1rem;
    letter-spacing: 10px;
    margin-left: 20px;

}

.nav ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    font-size: 18px;
    display: inline-flex;
    margin-right: 40px;
    margin-top: 10px;

}

.nav ul li a {
    text-decoration: none;  
    color: white;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 2 2;
}

.emptybox {
    background-color: var(--section-color);
    padding-bottom: 3.5%;
    margin-left: 80px;
    margin-top: 5px;
    flex: 1 1;
    max-width: 300px;

}
.emptybox img {
    max-width: 275px;
    max-height: 324.5px;
    padding: 5px;
    background-color: var(--section-color);
    border: var(--header-photo) solid 20px;
    margin-top: 20px;
    margin-left: -12px;
    width: 100%;
    /* flex: 2 2; */
 }

 .contact {
     background-color: white;
     text-align: center;
     border: solid 2px black;
     margin-left: -10px;
     margin-right: -10px;
     padding-bottom: 10px;
     padding-top: 10px;
     margin-top: 30px;
     /* flex: 2 2; */
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }



.right {
    flex: 5 10;
    max-width: 1000px;
    margin-top: 50px;
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}

.aboutme {
    padding: 30px;
    max-width: 810px;
    max-height: 200px;
    background-color: var(--section-color);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

 .projects {
     flex:2;
     margin-top: 40px;
     max-width: 875px;
     max-height: 2000px;
     /* display: flex; */
     /* flex-wrap: wrap; */
     /* justify-content: space-between; */
     border-top: solid 1px black;

 }

 .projects h2 {
     padding-top: 10px;
     margin-left: 27px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .img1 {
     border: var(--section-color) 10px solid;
     margin-top: 20px;
     max-height: 850px;
     max-width: 850px;
     width: 100%;
  
 }
 .projects img {
     border: var(--section-color) 10px solid;

 }

 .project-one {
     padding: 10px;
     background-color: var(--section-color);
     max-width: 100px;
     position: absolute;
     margin-top: 370px;
     /* display: flex; */
     /* flex-wrap: nowrap; */
 }

 .project-two {
        padding: 10px;
        background-color: var(--section-color);
        max-width: 100px;
        position: absolute;
        margin-top: 80px;
}
 .project-three {
            padding: 10px;
            background-color: var(--section-color);
            max-width: 100px;
            position: absolute;
            margin-top: -44px;
            margin-left: 475px;
 }
